airflow/airflow.cfg
airflow/airflow.db
airflow/logs/
airflow/webserver_config.py
venv/
data/input_data
data/output_data
.idea
dags/data_ingestion.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/